.container {
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 3rem;
  width: 1rem;
  border: 2px solid black;
  background-color: white;
}

.text {
  font-weight: bold;
}
